.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .row {
    display: flex;
    flex-direction: row;

    .cell {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      width: 2.5rem;
      background: #b9ffb7;
      color: #403233;
      cursor: pointer;
      &.X {
        background: #f19a3e;
        pointer-events: none;
        color: white;
      }

      &.O {
        background: #403233;
        color: white;
        pointer-events: none;
      }
    }
  }
}
